ol li a {
    text-decoration: none;
}

.example-items-rows {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -0.5rem;
}

.example-items-rows button {
    margin-right: 10px;
}

.theme-default {
    background-color: #edf0f4;
}

nb-card {
    height: fit-content;
}

.search {
    width: 100%;
    height: auto;
}

.noDataFound {
    width: 100%;
    height: auto;
}

.noDataFound img {
    width: 100%;
    height: auto;
}