.container-fluid {
    width: 100%;
}

mat-card {
    margin-top: 2rem;
    overflow: scroll;
    margin-bottom: 1rem;
}

mat-card h4 {
    font-size: 1rem;
    color: black;
}

mat-card nav ol li a {
    text-decoration: none;
}

.theme-default {
    background-color: #edf0f4;
}

::ng-deep {
    mat-card {
        box-shadow: 0 0 30px 0 rgb(131 157 188 / 20%)!important;
    }
}

.title {
    max-width: 8rem;
    overflow: hidden;
}

.table {
    width: 100%;
    overflow: scroll;
}

thead th {
    color: rgb(114, 111, 111);
}

tbody th,
td {
    color: rgb(150, 146, 146);
    font-weight: 400;
}

.actions a:hover {
    cursor: pointer;
}

.videoHover:hover {
    cursor: pointer;
}

.all-videos {
    width: 100%;
    padding: 0;
}

.example-items-rows {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -0.5rem;
}

.example-items-rows button {
    margin-right: 10px;
}

nb-card {
    height: auto;
    width: auto;
}