nb-card {
    height: auto;
    padding: 0;
    margin-bottom: 5px!important;
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
    background-color: #ffffff;
}

nb-card-header {
    border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
}

.content {
    display: flex;
    justify-content: space-between;
}

.date {
    width: 100%;
    height: 4px;
    display: flex;
    justify-content: end;
}

.date span {
    font-size: 9px;
    // color: #ffffff;
}

.color-change {
    background: #00d68f;
    color: #ffffff;
}