    nb-select {
        width: 100%;
    }
    
    h1 {
        text-align: center;
    }
    
    nb-select.appearance-outline.size-medium .select-button {
        text-align: center!important;
    }