<nb-layout>


    <nb-layout-header fixed>

        <div class="header-container">
            <div class="logo-container">
                <a (click)="ToggleSideBar()" class="sidebar-toggle">
                    <nb-icon icon="menu-2-outline"></nb-icon>
                </a>
                <a class="logo"><img src="./../assets/images/logo2.png" class="img-fluid" alt="LineDisk"></a>
            </div>
        </div>

        <div class="header-container justify-content-end">
            <nb-actions size="small">

                <nb-action class="control-item">
                    <nb-search type="rotate-layout"></nb-search>
                </nb-action>
                <nb-action class="control-item" icon="bell-outline"></nb-action>
                <nb-action class="user-action">
                    <nb-user *ngIf="token" [nbContextMenu]="userMenu" nbContextMenuTag="my-context-menu" [name]="user" picture="../assets/images/profile-img.png">
                    </nb-user>
                    <nb-user *ngIf="!token" [nbContextMenu]="userMenu2" nbContextMenuTag="my-context-menu" [name]="user" picture="../assets/images/profile-img.png">
                    </nb-user>
                </nb-action>
            </nb-actions>
        </div>
    </nb-layout-header>
    <nb-sidebar state="collapsed" responsive>
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet>

        </router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>