<div class="container">
    <div class="row">
        <div class="sub-title">
            <h3>Terms and Conditions</h3>
        </div>
    </div>
    <span class="danger"> TERMS OF SERVICE THIS AGREEMENT BETWEEN YOU AND LINEDISK(LDISK) GOVERNS YOUR USE OF LDISK SERVICES,AND WEBSITES. IT IS IMPORTANT THAT YOU READ AND UNDERSTAND THE FOLLOWING TERMS. BY CLICKING "AGREE",YOU ARE AGREEING THAT
    THEASE TERMS WILL APPLY IF YOU CHOOSE TO ACCESS OR USE THE SERVICE.</span>
    <br><br> LDisk("We") is the provider of the Services,which permits you to utilize certain internet Services, Including storing, uploading, playing videos, only under the terms and conditions set forth in this Agreement.
    <br><br>
    <h4>1. REQUIREMENTS FOR USE OF THE SERVICE</h4>

    <h5>a. AGE:</h5>
    <p>
        The Services is only available to individuals aged 13 years or older(or equivalemt minimum age in the relevant jurisdiction).We do not knowingly collect, use or disclose personal inforamtion from children under 13, or equivalent minimum age in the relevant
        jurisdiction, without verifiable parental consent.Parents and Guardians should also remind any minors that conversing with strangers on the internet can be dangerous and take appropriate precautions to protect children, including monitoring their
        use of the Service.</p>

    <h5>b.LIMITATIONS ON USE:</h5> You agree to use the service only for purposes permitted by this agreement, and only to the extent permitted by any applicable law, regulation, or generally accepted practice in the applicable jurisdiction.
    <br><br>
    <h5>c.AVAILIBILITY OF THE SERVICE:</h5> The service, or any feature or part therof,may not be available in all languages or in all countries and Ldisk makes no representation that the service,or any feature or part therof, is appropriate or available
    for use in any particular location. To the extent you do so at your own initiative and are responsible for compliance with any applicable laws.
    <br><br>
    <h5>d. CHANGING THE SERVICE:</h5> LDisk resevers the right at any time to modify this agreement and to impose new or additional terms or conditions on your use of service, provided that LDisk will give you notice of the updated terms of service, unless
    it could not be reasonable to do so due to circumstance arising from legal, regulatory, or governmental action; to address user security, user privacy, or technical integrity concerns; to avoid service disruptions to other user; or due to a natural
    disaster ,catastropic event,war, or other similar occurence outside of LDisk's reasonable control. in the event that LDisk does make material adverse changes to the service or terms of use, you will have the right to terminate this agreement and your
    account. <br>LDisk shall not be liable to you for any modifications to the service or terms of service made in accordance with this section.
    <br><br>

    <h4>2. SERVICES </h4>

    <h5>a. Uploading and Storing</h5>
    You can use the service to upload and store all formats of videos on LDisk due to this agreement. Pornography, nudity,sexual videos, movies/TV shows and any kind offensive videos are prohibited. Copyrighted materials are also strictly prohibited. uploading
    and storing the above content in violation of regulations may cause your account to be permanently banned,and the user will bear all responsiblities.
    <br><br>
    <h5>b. FILE SHARING</h5>
    If you share files via a web link, these files will be publicly accessible to anyone who has been providewd the web link. You can stop sharing files at any time.Besides, if a video is deleted or removed by you or LDsik,the sharing link will be invalid
    then.However, any file previously copied to another device or computer will not be deleted.<br><br>
    <span class="danger">PLEASE NOTE THAT SHARING OF OFFENSIVE VIDEOS OR COPYRIGHTED MATERIALS IS PROHIBITED AND MIGHT INCUR LEGAL LIABILITEIS WHICH SHALL BE BORNE BY YOURSELF.</span>
    <br><br>

    <h4>3. YOUR USE OF THE SERVICE</h4>

    <h5>A. YOUR ACCOUNT</h5>
    As a registered user of the service, you must establish an account.Don't reveal your account information to anyone else. You are solely responsible for maintaining the confidemntiality and security of your account and for all activities that occur on
    or through your account, and you agree to immediately notify LDisk of any security breach of yopur account.Provided we have exercised reasonable skill and due care,LDisk shall not be responsible for any losses arising out of the unauthorized use of
    your account resulting from yuou not following these rules. in order to use the service, you must enter your ID and Password to authenticate your account. you agree to provide accurate and complete information when you rigister with, and as you use,
    the service, and you agree to update your service registration date to keep it accurate and complete. failure to provide accurate, current and complete service registration data may result in the suspension and/or termination of your account.you agree
    that LDisk may store and use the service registration data you provide for use in maintaining and billing fees to your account.
    <br><br>
    <h5>B. YOUR CONDUCT </h5>

    You agree that you will not use the service to:<br>
    <li> upload, download, transmit, store or otherwise make available any content that is unlawful, harassing, threatening, harmful, tortiopus, defamatory, libelous, abusive, violent, obscene, vulgar, invasive of another's privacy, hateful, racially or ethnically
        offensive, or otherwise objectionable;</li>
    <li> stalk, harass, threaten or harm another; </li>
    <li>if you are an adult, request personal or other information from a minor(any personal under age of 18 or such other age as local law defines as a minor) who is not personally known to you, including but not limited to any of the following: full name
        or last name, home address, zip/postal code, telephone number, picture, or the names of the minor's school,church,athletic team or friends;</li>
    <li>pretend to be anyone, or any entity, you are not-you may not impersonate or misrepresent yourself as another person(including celebrities), entity, another LDisk user, LDsik employee, or a civic or government leader, or otherwise misrepresent your
        affiliation with a person or entity (LDisk reserves the right to reject or block any LDisk id or email address which could be deemed to be an impersonation or misrepresentaion of your identity,or a misappropriation of another person's name or
        identity);
    </li>
    <li>engage in any copyright infringment or other intellectual property infringement(including uploading any content to which you do not have the right to upload), or disclose any trade secret or confidental information in violation of a confidentially,
        employment, or nondisclosure agreement;</li>
    <li>upload, post, email, transmit, store or otherwise make available any material that contains viruses or any other computer ode, files or programs designed to harm, interface or limit the normal operation of the service(or any part therof), or any other
        computer software or hardware; </li>
    <li> threaten the unity,integrity,defence,security or soverignty of any country, friendly relations with foreign states, or public order or causes incitement to the commission of any cognisable offence or prevents investigation of any offence or is insulting
        any other nation; </li>
    <li> interface with or disrupt the service (including accessing the service through any automated means, like scripts or web crawlers), or any servers or network connected to the service, or any policies, requirements or regulations of network connected
        to the service(including any unauthorized access to, use or monitoring of data or traffic thereon);</li>
    <li> Plan or engage in any illegal activity;and/or </li>
    <li> gather and store personal inforamtion on any other users of the service to be used in connection with any of the foregoing prohibited activities. pornography, nudity, sexual videos, movies/tv shows and any kind offensive videos are prohibited. Copyrighted
        materials are also strictly prohibited.we reserve the right to decide appropriate content and can delete videos at any time withtout user notification.</li> <span class="danger"> WHEN THE ABOVE BEHAVIOR OCCURS AND THE IMPACT IS BAD, YOUR ACCOUNT IS LIKELY TO BE PERMANENTLY BANNED AND YOU LOSE THE ELIGIBILITY FOR WITHDRAWAL.</span>    <br><br>

    <h5>C. REMOVAL OF CONTENT</h5>

    You ackowledge that LDisk is not responsible or liable in any way for any content provided by other and has no duty to screen such content.However, LDisk reserves the right at all time to determine whether content is appropriate and in compliance with
    this agreement, and may screen, move, refuse, modify and/or remove content at any time, without prior notice and in its sole discretion, if such content is found to be in violation of this agreement or is otherwise objectionable.
    <br><br>
    <h4>4. PRIVACY POLICY</h4>

    <h5>A.Data</h5>

    <li> When you interact with our site, and/or services, we collect inforamation that, alone or in combination with other data, could be used to identify you(Personal data). some of the inforamtion we collect is stored in a manner that cannot be linked back
        to you (non-personal data)</li>
    <li> When you sign up for or use services, you voluntarily give us certain personal data, including: </li> <br>--your username, email address, and contact.<br> --your payment inforamtion, <br>if you are a paying customer. this is required to complete a
    commercial transaction on the site.we use this information to enable and fulfill your transaction.
    <li> Certain data about the devices you use to connect with LDisk and your use of the site and/or services are automatically logged in our systems, including: </li> <br>--Location inforamtion. this is tghe geographic area where you use your computer and
    mobile devices when interacting with our site and/or services. <br> --Log data.This log data may include the IP adress, browser type and settings,the date and time of use, information about browser configuration, language preference, and cookie data.<br>    --Usage information.This is inforamtion about the LDisk site,and/or services you use and how you use them.We may also obtain data from our third-pirty partners and service providers to analyze how users use our site, and/or Services.<br> --Device
    inforamation.Thease are data from your computer or mobile device, such as the type of hardware and software you are using, as well as unique device identifiers for devices that are using LDisk site.
    <br><br>
    <h5>B. Process of Data</h5>

    We use, process, and store your information as necessary to perform our contract with you and for our legitimate business interests, including: to help us administer our Site and/or Service, authenticate users for security purpose, provide personalized
    user features <br> -- and access, process transaction, conduct research, develop new features, and improve the features, algorithms, and usability of our site, and/or Services. <br> -- to communicate with you about your use of our Site, and/or
    Services, product anouncements, as well as respond to your requests for assistance, including providing account verification support if you're having difficulty accessing your account. <br> --to display User Content associated with your account and
    make sure it is available to you when you use our Services. <br> -- to provide human proof reading services for users who submit User Content in connection with this specific service. <br> -- to calculate aggregate statistics on the number of unique
    devices using our Site, and/or Services, and to detect and prevent fraud and misuse of those. <br> Ldisk reserves the right to disable direct linking on user accounts that are using excessive bandwidth or otherwise abusing the system.


    <h4>5. DISCLAIMER OF WARRANTIES;</h4>
    <h5> LIMITAION OF LIABILITY</h5>

    SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, AS SUCH, <br><br> TO THE EXTENT SUCH EXCLUSIONS ARE SPECIFICALLY PROHIBITED BY APPLICABLE LAW, SOME OF THE EXCLUSIONS SET FORTH BELOW MAY NOT APPLY TO YOU. Ldisk SHALL USE REASONABLE
    SKILL AND DUE CARE IN PROVIDING THE SERVICE. <br><br> THE FOLLOWING DISCLAIMERS ARE SUBJECT TO THIS EXPRESS WARRANTY. <br><br> Ldisk DOES NOT GUARANTEE, REPRESENT, OR WARRANT THAT YOUR USE OF THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE AND YOU
    AGREE THAT FROM TIME TO TIME <br><br> Ldisk MAY REMOVE THE SERVICE FRO INDEFINITE PERIODS OF TIME, OR CANCEL THE SERVICE IN ACCORDANCE WITH THE TERMS OF THIS AGREEMENT. <br> <br>YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE SERVICE IS PROVIDED ON AN
    "AS IS" AND "AS AVAILABLE" BASIS. <br><br> LdiskAND ITS AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTOS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRENTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
    THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. IN PARTICULAR, Ldisk AND ITS AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, AND LICENSORS MAKE NO WARRANTY THAT <br> <br>    (I) THE SERVICE WILL MEET YOUR REQUIREMENTS;
    <br> <br>(II) YOUR USE OF THE SERVICE WILL BE TIMELY, UNINTERRUPTED, SECURE OR ERROR-FREE; <br><br> (III) ANY INFORMATION OBTAINED BY YOU AS A RESULT OF THE SERVICE WILL BE ACCURATE OR RELIABLE; AND <br><br> (IV) ANY DEFECTS OR ERRORS IN THE SOFTWARE
    WILL BE CORRECTED. <br><br> Ldisk DOES NOT REPRESENT OR GUARANTEE THAT THE SERVICE WILL BE FREE FROM LOSS, CORRUPTON, ATTACK, VIRUSES, INTERFERENCE, HACKING, OR OTHER SECURITY INTRUSION, AND Ldisk DISCLAIMS ANY LIABLITY RELATING THERETO. <br><br>    ANY MATERIAL DOWNLOADED OR OTHERWISE OBATINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE, COMPUTER, OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF
    NY SUCH MATERIAL. <br> <br> YOU FURTHER ACKNOWLEDGE THAT THE SERVICE IS NOT INTENDED OR SUITABLE FOR USE IN SITUATIONS OR ENVIRONMENTS WHERE THE FAILUREOR TIME DEALYS OF, OR ERRORS OR INACCURANCIES IN, THE CONTENT, DATA OR INFORMATION PROVIDED BY
    THE SERVICE COULD LEAD TO DEATH, PERSONAL INJURY, OR SEVERE PHYSICAL OR ENVIRONMENTAL DAMAGE. <br><br> LIMITATION OF LIABILITY SOME JURISDICATIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY BY SERVICE PROVIDERS. TO THE EXTENT SUCH EXCLUSIONS
    OR LIMITATIONS ARE SPECIFICALLY PROHIBITED BY APPLICABLE LAW, SOME OF THE EXCLUSIONS OR LIMITATIONS SET PORTH BELOW MAY NOT APPLY TO YOU. <br><br> Ldisk SHALL USE REASONABLE SKILL AND DUE CARE IN PROVIDING THE SERVICE. <br> <br> THE FOLLOWING LIMITATIONS
    DO NOT APPLY IN RESPECT OF LOSS RESULTING FROM <br><br> (A) Ldisk'S FAILURE TO USE REASONABLE SKILL AND DUE CARE; <br><br> (B) Ldisk'S GROSS NEGLIGENCE, WILFUL MISCONDUCT OR FRAUD; OR <br><br> (C) DEATH OR PERSONAL INJURY. <br><br> YOU EXPRESSLY UNDERSTAND
    AND AGREE THAT Ldisk AND ITS AFFLIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES FOR LOSS OF PROFITS,
    GOODWILL, USE, DATA, COST OF PROCUREMENT OF UBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSSES (EVEN IF Ldisk HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), <br> <br> RESULTING FROM: <br><br> (I) THE USE OR INABILITY TO USE THE SERVICE
    <br><br> (II) ANY CHANGES MADE TO THE SERVICE OR ANY TEMPORARY OR PERMANENT CESSATION OF THE SERVICE OR ANY PART THEREOF; <br><br> (III)THE UNAUTHORIXED ACCESS TO OR ALTERATION OF YOUR TRANSMISSION OR DATA; <br><br> (IV)THE DELETION OF, CORRUPTION
    OF, OR FAILUER TO STORE AND/OR SEND OR RECEIVE YOUR TRANSMISSION OR DATA ON OR THROUGH THE SERVICE; <br><br> (V) STATEMENT OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; AND (VI) ANY OTHER MATTER RELATING TO THE SERVICE. <br><br> INDEMNIFICATION you
    agree to defend, indemnify and hold Ldisk, its affiliates, subsidiaries, directors, officers,employees, agents, partners, contractors, and licensors harmless from any claim or demand, including reasonable attorneys' fees, made by a third party, relating
    to or arising from: <br> (a) any Content you submit, post, transmit, or otherwise make available through the Service; <br> (b) your use of the Service; <br> (c) any violation by you of this Agreement: <br> (d) any action taken by Ldisk as part of
    its investigation of a suspected violation of this Agreement or as a result of its finding or decison that a violation of this Agreement has occured; <br> (e) your violation of any rights of another. <br><br> This means that you cannot sure Ldisk,
    its affiliates, subsidiaries, direction, officers, employees, agents, partners, contractors, and licensors as a result of its decision to remove or refuse to process anu information or Content, to warn you, to suspend or terminate your access to the
    Service, or to take any other action during the investigation of a suspected violation or as a result of Ldisk's conclusion that a violation of this Agreement has occured. <br><br> This waiver and indemnity provision applies to all violations described
    in or contemplated by this Agreement. <br><br> This obiligation shall survive the termination or expiration of this Agreement and/or your use of the Service. <br> <br>You acknowledge that you are responsible for all use of the Service using your Account,
    and that this Agreement applies to any and all usage of your account.
    <br><br> You agree to comply with this harmless Ldisk from and against any and all claims and demands arising from usage of your Account, whether or not such usage is expressly authorized by you.



    <br><br>









</div>