<!-- <app-header></app-header>

<div class="container-fluid banner-container" color="accent">
    <div class="row main-banner">
        <div class="col-lg-6">
            <div class="banner-text">
                <div class="banner-text-content">
                    <h1>Unlimited Storage Space</h1>
                    <div>
                        <button class="btn">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="banner-img">
                <img src="./assets/images/Network1.png" class="cloud-img-banner" class="img-fluid">
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="banner-img">
                <img src="./assets/images/Network1.png" class="cloud-img-banner" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="banner-text">
                <div class="second-banner-text-content">
                    <h1>Unlimited Storage Space</h1>
                    <div>
                        <button class="btn">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer> -->

<div class="container-fluid">
    <div class="row">
        <!-- <div class="upload-container">
            <nb-card>
                <nb-card-body>
                    <img src="../../assets/images/upload-folder-5557634-4639343.webp" alt="">
                    <h2>Upload Video</h2>
                </nb-card-body>
            </nb-card>
        </div> -->
        <div class="upload-container1" routerLink="/upload">

            <div class="icon-container">
                <div class="image-logo">
                    <img src="../../assets/images/10-2-folders-free-download-png-thumb.png" alt="">
                </div>
                <div class="my-video-content">
                    <h2>Upload Video</h2>
                </div>
            </div>


        </div>
        <div class="upload-container2" routerLink="/myvideos">

            <div class="icon-container">
                <div class="my-video-content">
                    <h2>My Videos</h2>
                </div>
                <div class="image-logo">
                    <img src="../../assets/images/video-camera-4117993-3410037.png" alt="">
                </div>

            </div>


        </div>
        <div class="upload-container3" routerLink="/income">

            <div class="icon-container">
                <div class="image-logo">
                    <img src="../../assets/images/income-goes-up-4802216-3998263.webp" alt="">
                </div>
                <div class="my-video-content">
                    <h2>Income</h2>
                </div>
            </div>


        </div>
        <!-- <div class="upload-container">
            <nb-card>
                <nb-card-body>
                    <img src="../../assets/images/upload-folder-5557634-4639343.webp" alt="">
                    <h2>Upload Video</h2>
                </nb-card-body>
            </nb-card>
        </div>
    </div> -->
    </div>
</div>