.container-fluid {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.container-fluid .row {
    width: 100%;
    height: 100%;
}

.login-container {
    width: 100%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-header {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 8%;
}

.login-body {
    text-align: center;
    padding: 2rem 0;
}

form {
    text-align: center;
    width: 50%!important;
    margin: auto;
}

.login-header .logo-icon img {
    width: 300px;
    height: auto;
}

.login-header h3 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.login-header p {
    font-size: 1.2rem;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

::ng-deep {
    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-icon {
        margin-left: -8px!important;
    }
    .mat-ripple:not(:empty) {
        border: none;
    }
}

.d-grid {
    padding: 1rem 0;
}

.mat-form-field {
    padding: 2px 0;
}

.login-route {
    // width: 100%;
    // display: inline-flex;
    // flex: 1 1 auto;
    // flex-direction: row;
    // align-self: stretch;
}

.login-route a {
    text-decoration: none;
}

.login-body label {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}