<div class="container-fluid">
    <div class="row">
        <div style="width: 100%; height:4rem; background-color:#00ccff">
            <img style="height:4rem;width:auto;" src="../../../assets/images/logo2.png" alt="">
        </div>
        <div>
            <div><br></div>
            <h4>Dear Admin,</h4>
            <p>user <span style="font-weight: bold; color:blue">Raja Sekhar</span> reported on the following video content as <span style="font-weight: bold; color:red">Violent or repulsive content</span>.</p>

            <h3 style="font-weight: bold;">Content Details:</h3>
            <ul style="font-weight: bold; list-style:none">
                <li style="font-weight:600">Video ID: <span style="color:gray">5723hgey273yqi3</span></li>
                <li>Uploaded User ID: <span style="color:gray">asjhxd6e8qdaksuhs</span></li>
                <li>Reported User ID: <span style="color:gray">askjhds78a7sd</span></li>
                <li>Reported as: <span style="color:red">Violent or repulsive content</span></li>
            </ul>
            <div>
                <p>Thanks and Regards <br>
                    <span>Ldisk team</span>
                </p>

            </div>

        </div>
    </div>
</div>