<div class="container-fluid">
    <div class="row">
        <!-- <div class="upload-container">
            <nb-card>
                <nb-card-body>
                    <img src="../../assets/images/upload-folder-5557634-4639343.webp" alt="">
                    <h2>Upload Video</h2>
                </nb-card-body>
            </nb-card>
        </div> -->
        <div class="upload-container1" routerLink="/Admin/manage-videos">

            <div class="icon-container">
                <div class="image-logo">
                    <img src="../../../assets/images/ezgif.com-gif-maker-removebg-preview.png" alt="">
                </div>
                <div class="my-video-content">
                    <h2>manage Videos</h2>
                </div>
            </div>


        </div>
        <div class="upload-container2" routerLink="/Admin/search-by-id">

            <div class="icon-container">
                <div class="my-video-content">
                    <h2>Search Videos</h2>
                </div>
                <div class="image-logo">
                    <img src="../../../assets/images/search-4080643-3379756.webp" alt="">
                </div>

            </div>


        </div>
        <div class="upload-container3" routerLink="/Admin/manage-payments">

            <div class="icon-container">
                <div class="image-logo">
                    <img src="../../../assets/images/payment-paper-5374118-4492254.webp" alt="">
                </div>
                <div class="my-video-content">
                    <h2>Manage Payments</h2>
                </div>
            </div>


        </div>

    </div>
</div>